# Copie ce fichier en ".env" et remplis les vraies valeurs.
# Ne commite JAMAIS le fichier ".env" (seulement ".env.example") sur GitHub.

TELEGRAM_TOKEN=123456789:abcdefghijklmnopqrstuvwxyz
TELEGRAM_CHAT_ID=@mon_channel_mlb
